doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Кратчайший путь в графе
    link(rel='stylesheet' href='assets/css/style.css')
  body
    .page
      header.header
        h1.header__title Поиск кратчайшего пути в графе
        
      main.main
        section.graph-solver
          form.graph-solver__form
            .graph-solver__matrix-input
              label.graph-solver__label(for='matrix') Введите матрицу смежности (разделяя числа пробелами):
              textarea.graph-solver__textarea#matrix(rows='5' placeholder='Пример:\n0 1 8 2 4\n1 0 7 2 9\n8 7 0 2 3\n2 2 2 0 8\n4 9 3 8 0')
            .graph-solver__vertices
              label.graph-solver__label(for='start-vertex') Начальная вершина (Введите значение/число):
              input.graph-solver__input#start-vertex(type='number' min='1' max='5' value='1')
              label.graph-solver__label(for='end-vertex') Конечная вершина (Введите значение/число):
              input.graph-solver__input#end-vertex(type='number' min='1' max='5' value='3')
            button.graph-solver__button#solve-button(type='button') Решить
          .graph-solver__output
            h2.graph-solver__subtitle Результат:
            p.graph-solver__result#result
          .graph-solver__steps
            h2.graph-solver__subtitle Пошаговое решение:
            ul.graph-solver__steps-list#steps


      footer.footer
        p.footer__text © 2025. Решение задачи на графах.
    script(src='assets/js/main.js')