block map

//- pug variable
- var url = "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb5b7b6170548d01c924dccbd4de9d8bb98f10c6de558faaf38e629ccda34f0f&width=590&height=700&lang=ru_RU&scroll=true"


div#map.map
    script(src="https://api-maps.yandex.ru/2.1/?apikey=42335796-18a2-4948-b1e8-5a53efdfae02&lang=ru_RU")


//- script.

//-     document.addEventListener('DOMContentLoaded', () => {
    
//-     //js variable
//-     const url = "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb5b7b6170548d01c924dccbd4de9d8bb98f10c6de558faaf38e629ccda34f0f&width=590&height=700&lang=ru_RU&scroll=true";



//-     //- const map = document.querySelector(`iframe[src="${url}"`);
//-     //- map.style.transform = 'rotateZ(90deg)';

//-     })